//fonts
:root {
  --font-menu: "Francois One", sans-serif;
  --font-main: "Inter", sans-serif;
  --font-button: var(--font-menu);
}

// font sizes
:root {
  --font-size-menu: 1.2rem;

  @media (width > 1024px) {
    --font-size-menu: 1rem;
  }
}

// icon sizes
:root {
  --icon-size-menu-arrow: 12px;
}

// colors
:root {
  --primary-color: hsla(212, 23%, 14%, 1);
  --secondary-color: #ede1cd;
  --light-color-full: #fff;
  --dark-color-full: #1a1a1a;
  --color-1: #236bbd;
  --color-menu: #12171c;
}

// header color
:root {
  --color-header: hsla(212, 23%, 14%, 0.95);
}

// gaps
:root {
  --grid-menu-gap: 15px;
  --grid-menu-item-gap: 10px;
}

// heights
:root {
  --height-mobile-header: 60px;
}

// z-indexes
:root {
  --z-index-header: 1000;
  --z-index-header-sub-row: 1200;
  --z-index-menu: 1100;
  --z-index-modal: 5000;
  --z-index-overlay: 6000;
}

// widths
:root {
  --width-mobile-button: 70px;
}

// breakpoints info: see scss function _breakpoint()
:root {
  --breakpoint-s: 320px;
  --breakpoint-m: 375px;
  --breakpoint-l: 425px;
  --breakpoint-xl: 768px;
  --breakpoint-desktop-xs: 1024px;
  --breakpoint-desktop-l: 1440px;
}

// margins
:root {
  --margin-title-top: 30px;
  --margin-title-bottom: 60px;

  @media screen and (max-width: 768px) {
    --margin-title-top: 20px;
    --margin-title-bottom: 40px;
  }
}

// paddings
:root {
  // menu rules
  --padding-menu-item: 7px 12px;
  --padding-menu-submenu: 7px 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}
